* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6FBF4;
    text-align: center;
    margin: 18% auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1  {
    font-size: 4em;
    line-height: 2;
}

h1, h2 {
    color: #66BFBF
}



h3, a {
    color: #11999E
}
/* .tulip {
    height: 5em;
    width: auto;
} */



.middle-container {
    padding:15em;
}

.leaf {
   position: absolute;
   left: 28%;
   top: 32%;
   height: 8em;
   width: auto;
}

.leaves {
    position: absolute;
    right: 28%;
    top: 32%;
    height: 8em;
    width: auto;
}

.pin {
    display: inline;
    height: 3em;
    width: auto;
}

.position {
    display: inline;
    font-size: 2em;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 2;
}

.pro {
    font-weight: 800;
}

.profile {
    margin: auto;
    width: 50%;
    padding-bottom: 4em;
}
.profile img {
    padding: 2em;
}

.profile p {
    line-height: 2;
}

.skill-row {
    margin: 50px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}

.sleep  {
    width: 20%;
    float: left;
    margin-right: 20px;
}

.skill {
    width: 20%;
    float: right;
    margin-left: 20px;
}

.skills {
    padding: 4em;
}

.title {
    color: #171717;
    font-family: 'Merriweather', 'Times New Roman', serif;
    /* margin:5%;
    padding: 10%; */
}

.contact-me {
    padding: 4em;
}

.contact-me h2 {
    padding: 2em;
}

.contact-me p {
    line-height: 2;
    width: 50%;
    margin: auto;
}

