* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDEFEF;
}

h1  {
    font-size: 4em;
}




.position {
    font-size: 2em;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.pro {
    font-weight: 800;
}

.title {
    color: #171717;
    font-family: 'Merriweather', 'Times New Roman', serif;
    margin:5%;
    padding: 10%;
    padding
}

